<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 second">
    <property name="PROJECT" value="application" />
    <springProperty scope="context" name="logLevel" source="log.level"/>
    <springProperty scope="context" name="logPath" source="log.path"/>
    <property name="ROOT" value="${logPath}" />


    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta(%X) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>
        </layout>
    </appender>

    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>%black %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta(%X) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${ROOT}/error/error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>


    <!-- 按照小时回滚文件 -->
    <appender name="FILE_TIME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${ROOT}/${PROJECT}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${ROOT}/%d{yyyy-MM-dd-HH}.log.gz</FileNamePattern>
        </rollingPolicy>
        <!-- 日志格式 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta(%X) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>
        </layout>
    </appender>

    <!-- Logger 根目录 -->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR" />
        <appender-ref ref="FILE_TIME" />
    </root>
    <!-- mybatis日志打印-->
    <logger name= "com.xfs.settle.mapper" level="DEBUG" additivity="false" >
        <appender-ref ref="FILE_TIME" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- 按照小时回滚文件 -->
    <appender name="FENCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/web/tms-fence/${PROJECT}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/data/log/web/tms-fence/%d{yyyy-MM-dd-HH}.log.gz</FileNamePattern>
        </rollingPolicy>
        <!-- 日志格式 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta(%X) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>
        </layout>
    </appender>
    <!-- mybatis日志打印-->
    <logger name= "com.xfs.tms.common.utils.FenceLogger" level="INFO" additivity="false" >
        <appender-ref ref="FENCE" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>